<html>
    </head>
        <meta charset="UTF-8">
        <title>Example Datatables Vuejs with Symfony</title>
    <head>

    <body>
        <div id="app">
            <!-- Vue app.js Content -->
        </div>
        <script src=""></script>
    </body>
</html>